# Dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
**/.DS_Store

# Environment
.env
.env.local
**/.env
!**/.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build output
build/
*.tsbuildinfo

# Logs
*.log
logs/
